:root {
  --primary-color: #F9B700;
  --secondary-color: #fff8d7;
  --color-text: #1e1e1e;
  --desc-text: #737283;
  --font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

#drawer > ul > li > a:hover {
  color: var(--color-text);
}

#drawer {
  width: fit-content;
  background-color: rgba(242, 242, 242, 0.4);
  padding: 16px 10px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #ececec;
}

#drawer > ul > li > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  margin: 0 4px;
  padding: 12px 14px;
  border-radius: 8px;
  color: #616161;
  transition: all 0.3s ease;
}

#drawer .active {
  color: #1E1E1E;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header-container .btn a {
  padding: 16px 32px;
  text-decoration: none;
  color: var(--color-text);
  background-color: var(--primary-color);
  border-radius: 16px;
  font-weight: 600;
}

.logo > img {
  height: 50px;
  min-height: 50px;
  margin: 30px;
}

.logo a {
  display: inline-block;         /* Menetapkan lebar elemen */
  height: 44px;          /* Menetapkan tinggi elemen */
}

#drawer > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

navbar-content {
  transition: transform 0.4s;
}

.navbar-hidden {
  transform: translateY(-80px) !important;
}

#drawer > ul > li {
  display: inline;
}

.header-container .logo a {
  text-decoration: none;
  color: #333;
}

#hamburger {
  padding: 24px;
  background: url("../public/icons/icon-hamburger.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  display: none;
}

.skip-link {
  position: absolute;
  height: 115px;
  top: -115px;
  left: 0;
  align-content: center;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--color-text);
  padding: 44px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
  outline: 4px solid var(--primary-color);
}

/* section hero */
hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.hero-container {
  padding: 0 8%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container .text-content {
  order: 1;
}

.hero-container .img-content {
  order: 2;
}

.hero-container span {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 18px;
}

.hero-container .img-content {
  margin-top: 80px;
}

.hero-container h1 {
  font-size: 64px;
  font-weight: 900;
  color: var(--font-color);
}

.hero-container .text-wrapper {
  max-width: 39rem;
}

.hero-container p {
  font-size: 18px;
  font-weight: 400 !important;
  padding-top: 24px;
  line-height: 30px;
  color: var(--desc-text);
}

.hero-container .btn {
  margin-top: 64px;
}

.hero-container .btn a {
  padding: 20px 40px;
  text-decoration: none;
  color: var(--color-text);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--primary-color);
  border-radius: 16px;
}

.hero-container img {
  width: 70%;
  height: 70%;
}

.btn svg {
  margin-left: 8px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  width: 100%;
  margin: 24px auto 0 auto;
  z-index: 9999;
}

/* section about */
.container-about {
  max-width: 80rem;
  width: 100%;
  margin: 160px auto 0 auto;
}

.container-about img {
  width: 80%;
  height: 80%;
}

.mini-text {
  font-size: 16px;
  font-weight: 500;
  color: var(--desc-text);
  margin-bottom: 12px;
}

.container-about .btn {
  margin-top: 24px;
}

.container-about p {
  font-size: 18px;
}

.container-about .btn a {
  padding: 20px 40px;
  text-decoration: none;
  color: var(--color-text);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--primary-color);
  border-radius: 16px;
}

.container-about .main-content {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  margin-top: 64px;
}

.container-about .text-content {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}

.container-about h1 {
  font-size: 40px;
  font-weight: 900;
}

.container-about h2 {
  font-size: 36px;
  font-weight: 900;
}

.qna-section svg {
  width: 32px;
}

.container-about p {
  padding: 16px 0;
  line-height: 1.5;
  font-size: 18px;
  color: var(--desc-text);
}

.container-about span {
  font-weight: bold;
}

.container-about .text-head {
  max-width: 40rem;
  text-align: center;
}

.container-about .content {
  display: flex;
  justify-content: center;
}

.container-about h2 {
  font-size: 36px;
}

.container-about .main span {
  color: var(--primary-color);
}

.container-about p {
  font-size: 18px;
}

.container-about .content-two {
  margin-top: 180px;
}

.container-about .content-two .text-content {
  order: 1;
}

.container-about .content-two .img-content {
  order: 2;
}

/* section fitur */
.container-fitur {
  margin-top: 180px;
}

.container-fitur .content {
  display: flex;
  justify-content: center;
}

.container-fitur h1 {
  font-size: 40px;
  font-weight: 900;
}

.container-fitur p {
  font-size: 18px;
}

.container-fitur .text-head {
  max-width: 40rem;
  text-align: center;
}

.grid-card {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  max-width: 80rem;
  margin: 62px auto 0 auto;
}

.item1 {
  grid-area: span 1 / span 7 / span 1 / span 7;
  background-color: #FFEA8B;
}

.item2 {
  grid-area: span 1 / span 5 / span 1 / span 5;
  background-color: #FFE0CB;
}

.item3 {
  grid-area: span 1 / span 5 / span 1 / span 5;
  background-color: #FFE4F4;
}

.item4 {
  grid-area: span 1 / span 7 / span 1 / span 7;
  background-color: #BAE6FF;
}

.grid-item {
  border-radius: 48px;
  padding: 64px;
}

.grid-item .text-content h2 {
  font-size: 32px;
  padding-bottom: 12px;
  font-weight: 900;
}

.grid-item .text-content p {
  padding-bottom: 24px;
  font-size: 18px;
  color: var(--desc-text);
  line-height: 1.4;
  font-weight: 500;
}

.grid-item .text-content {
  /* max-width: 32rem; */
}

/* section testimonial*/
.container-testimonial {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
}

.section-testimonial {
  background-color: #F6F6F6 !important;
  margin-top: 180px;
}

.container-testimonial {
  padding: 130px 4%;
  border-radius: 40px;
}

.container-testimonial .text-head img {
  margin-bottom: 12px;
}

.container-testimonial .content {
  display: flex;
  justify-content: center;
}

.container-testimonial h1 {
  font-size: 40px;
  font-weight: 900 !important;
  color: var(--color-text);
}

.container-testimonial p {
  font-size: 18px;
}

.container-testimonial .text-head {
  max-width: 40rem;
  text-align: center;
}

.card-testi-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 54px;
  gap: 24px;
}

.card-testimonial {
  background-color: #fff;
  box-shadow: 0 10px 16px rgba(5, 6, 15, .04), 0 1px rgba(5, 6, 15, .02), 0 0 8px rgba(5, 6, 15, .02);
  padding: 24px;
  border-radius: 16px;
}

.text-card p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-text);
}

.text-profile p {
  font-size: 14px;
  padding-top: 4px;
  color: var(--desc-text);
}

.text-profile p {
  font-size: 14px;
}

.card-testimonial h2 {
  font-size: 16px !important;
}

.card-testimonial .profile {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* qna content*/
.qna-section {
  margin-top: 140px;
  padding: 0 4%;
}

.qna-section h2 {
  font-size: 40px;
  font-weight: 900;
}

.qna-section .text-head {
  text-align: center;
}

.qna-section .main-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  max-width: 800px; 
  margin: 54px auto 0 auto; 
}

.content-item:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  transition: all 0.1s ease-in;
}

.content-item {
  background-color: #fbfbfb;
  padding: 18px 20px !important;
}

.content-item.active svg {
  transform: rotate(180deg);
}

.content-item.active .answer {
  max-height: 300px;
}

.qna-section .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qna-section .answer p {
  font-size: 16px;
  line-height: 1.6;
  padding-top: 12px;
}

.qna-section .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.qna-section .content-item {
  box-shadow: var(--card-shadow);
  border-radius: 20px;
  padding: 0px 20px;
  cursor: pointer;
}

/* section footer */
footer {
  background-color: #2C2C2C;
  padding: 220px 0 64px 0;
  border-radius: 64px 64px 0 0;
}

.footer-container {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 0;
}

/* .link-item {
  display: flex;
  background: red;
  width: 300px;
  justify-content: space-between;
} */

.footer-container ul li {
  list-style: none;
  padding-bottom: 16px;
}

.footer-container h2 {
  font-size: 18px;
  padding-bottom: 18px;
  color: #fff;
}

.footer-container ul li a {
  text-decoration: none;
  color: #B1B1B1;
  font-weight: 500;
  opacity: 0.8;
  font-size: 16px;
}

.footer-container p {
  color: #B1B1B1;
  opacity: 0.8;
}

.footer-container p {
  font-size: 16px;
  padding-top: 14px;
}

.footer-container .item-logo a {
  text-decoration: none;
  color: #000;
}

/* section getstarted */
.getstarted-container {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  max-width: 80rem;
  background-image: url("../public/getstarted/get.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 180px auto -160px auto;
  display: flex;
  padding: 54px 0;
  border-radius: 40px;
}

.getstarted-container h1 {
  max-width: 30rem;
  font-size: 40px;
  font-weight: 900;
}

.getstarted-container .btn{
  margin-top: 60px;
  margin-bottom: 10px;
}

.getstarted-container .btn a {
  text-decoration: none;
  padding: 16px 30px;
  background-color: #fff;
  color: var(--color-text);
  font-size: 18px;
  font-weight: 500;
  border-radius: 14px;
}

/* aksara */
#card-aksara {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 54px;
  margin-bottom: 54px;
}

.aksara-item {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 24px;
  border-radius: 14px;
}

.aksara-img img {
  width: 100%;
  height: 100%;
}

.aksara-body {
  margin-top: 4px;
}

/* select page */
.select-container {
  margin: 100px 0;
  padding: 0 4%;
}

.select-container .text-head {
  max-width: 36rem;
  text-align: center;
}

.select-container .content {
  display: flex;
  justify-content: center;
}

.select-container h1 {
  font-size: 40px;
  font-weight: 900;
}

.select-container p {
  padding-top: 18px;
  line-height: 1.5;
  font-size: 18px;
  color: var(--desc-text);
}

.btn-select-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-select-container a {
  text-decoration: none;
  color: #000;
  margin-top: 48px;
}

.btn-select-container .btn-belajar:hover {
  background-color: #f4f4f4;
}

.btn-belajar {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
  padding: 24px;
}

.btn-belajar h3 {
  margin-top: 14px;
  font-size: 22px;
}

.btn-belajar p {
  padding-top: 8px;
  font-weight: 500;
  font-size: 16px;
}

/* aksara page */
.header-aksara {
  display: flex;
  justify-content: center;
  padding: 14px 0;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
}

.header-aksara p {
  color: var(--desc-text);
}

h1,h2 {
  color: var(--color-text);
}

p {
  color: var(--desc-text);
}

.aksara-container {
  max-width: 80rem;
  width: 100%;
  position: relative;
  margin: 130px auto 0 auto;
}

.aksara-container h1,h2 {
  color: var(--color-text);
}

.aksara-container p {
  padding: 12px 0;
}

.aksara-container h1 {
  margin-top: 16px;
  font-weight: 900;
}

/*Quiz */
.flex-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.wrapper-container {
  background-color: var(--light-color);
  padding: 1.5rem 4rem 3rem 4rem;
  margin-top: 3rem;
  width: 600px;
  height: auto;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
}

.judul-quiz {
  text-align: center;
  font-size: 1.5rem;
}

.score-quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  border: 5px solid var(--primary-color);
  border-radius: 20px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  margin: 0.5rem auto;
  color: var(--primary-color);
}

.soal-quiz {
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.gambar-soal {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.gambar-soal img {
  width: 280px;
}

.pilihan-jawaban {
  list-style-type: none;
  margin-top: 3rem;
}

.pilihan-jawaban li {
  border-radius: 0.5rem;
  font-weight: 600;
  margin: 0.7rem 0;
  padding: 1rem 1.2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 12px;
  color: var(--light-color);
  transition: var(--transition);
  text-align: center;
}

.pilihan-jawaban li:hover {
  background-color: #F9B700;
}

.pilihan-jawaban li:active {
  transform: scale(0.97);
}

.pilihan-jawaban li.selected {
  background-color: #F9B700;
  color: var(--dark-color);
  border-color: #F9B700;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.quiz-foot button {
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-size: 16px;
  font-weight: 500;
  padding: 1rem 1.2rem;
  margin: auto;
  cursor: pointer;
  display: block;
  background-color: var(--primary-color);
  transition: var(--transition);
}

.quiz-foot button:hover {
  background-color: #ff9a00;
  color: var(--dark-color);
}

.quiz-foot button:active {
  transform: scale(0.95);
}

#check-answer {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#mulai-kembali {
  margin-top: 10px;
  display: none;
}

#result {
  padding: 0.7rem 0;
  text-align: center;
  font-weight: 300;
  font-size: 1.3rem;
}

/*Spinner*/
.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  display: none;
  z-index: 9999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 7px solid #f3f3f3;
  border-top: 5px solid var(--primary-color);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
